* {
  margin: 0;
  padding: 0;
}

.Container {
  display: flex;
  margin: auto;
  margin-top: 5rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 3%,
    rgba(3, 1, 46, 1) 38%,
    rgba(14, 30, 106, 1) 45%,
    rgba(4, 2, 53, 1) 58%,
    rgba(9, 9, 121, 0.927608543417367) 98%
  );
  height: 33rem;
  width: 70%;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(10, 1, 138);
}

.Letters,
.Formulario {
  margin: auto;
  background-color: #5f882a00;
  height: 25rem;
  width: 40%;
  margin-top: 2rem;
}

.text {
  margin-top: 1em;
  font-size: 30px;
  color: white;
  font-style: oblique;
  text-align: center;
}

.p1 {
  font-size: 18px;
  color: white;
  margin-top: 1rem;
  text-align: justify;
}

.Fadej {
  font-size: 4em;
  color: white;
  text-align: center;
}

.Fades {
  font-size: 1em;
  color: white;
  text-align: center;
  letter-spacing: 1em;
}

body {
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea,
button {
  margin-top: 0.5rem;
  margin-left: 3%;
  width: 90%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
}


input:hover {
  background: linear-gradient(to right, #9994b1, #bdbaba);
}

button {
  margin-left: 5%;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  height: 3rem;
}

button:hover {
  background-color: #0069d9;
}
2
button:active {
  background-color: #005cbf;
}
